<div class="page-wrapper">
  <div class="top-bar">
    <div class="left-info">
      <span>🎉 Celebrating 10 years : <b>2014 – 2024</b></span>
    </div>
    <div class="right-info">
      <span>📞 Call us: <b>234 567 7899</b></span>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>
  </div>
<nav class="navbar">
  <div class="logo" routerLink="/home">Med<span>Access</span></div>

  <!-- Hamburger Menu Button -->
  <button class="menu-toggle" (click)="toggleMenu()">
    <span [class.open]="menuOpen">☰</span>
  </button>

<ul class="nav-links" [class.active]="menuOpen">
  <li><a routerLink="/home">AI in Infertility</a></li>

  <!-- Parent Dropdown -->
  <li class="dropdown" [class.open]="dropdownOpen">
    <a (click)="toggleDropdown($event)">AI Infertility Treatments ▾</a>

    <ul class="dropdown-menu" *ngIf="dropdownOpen">
      <li><a routerLink="/check">Infertility Testing ▸</a></li>

      <!-- Sub Dropdown -->
      <li class="dropdown-sub" [class.open]="subDropdownOpen">
        <a (click)="toggleSubDropdown($event)">Infertility Treatments ▸</a>

        <ul class="dropdown-submenu two-col-submenu" *ngIf="subDropdownOpen">
          <li><a routerLink="/IVF">.Ai-IVF</a></li>
          <li><a routerLink="/ICSI">.Ai-ICSI</a></li>
          <li><a routerLink="/IVM">.AI-IVM</a></li>
          <li><a routerLink="/IUI">.AI-IUI</a></li>
          <li><a routerLink="/EGG">.AI-Egg Pooling</a></li>
          <li><a routerLink="/STEMOVERIAN">.AI-Stem Cell Organ Rejuvenation</a></li>
          <li><a routerLink="/STEMERECTILE">.AI-Stem Cell E.D</a></li>
          <li><a routerLink="/EGGFREEZING">.AI-Egg Freezing</a></li>
          <li><a routerLink="/GENDER">.AI-Gender Selection</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li><a routerLink="/ISSUES">Infertility Issues</a></li>
  <li><a routerLink="/aboutus">About Us</a></li>

  <li class="login-dropdown">
    <span (click)="openPatientForm()">Login ▾</span>
  </li>
</ul>

</nav>

</div>