<!-- Page Wrapper -->
<div class="page-wrapper">

  <!-- Top Header Bar -->
  <div class="top-bar">
    <div class="left-info">
      <span>🎉 Celebrating 10 years : <b>2014 – 2024</b></span>
    </div>
    <div class="right-info">
      <span>📞 Call us: <b>234 567 7899</b></span>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>
  </div>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">Med<span>Access</span></div>
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="/pages" routerLinkActive="active">Pages</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
    </ul>
    <button class="contact-btn">
      Contact Us <span class="arrow">→</span>
    </button>
  </nav>

<section class="pxl-heading--inner">
  <h3 class="pxl-item--title style-default highlight-default" data-wow-delay="200ms">
    <span class="pxl-heading--text no">
      Grasping the Concept of <br>
      Artificial Intelligence <br>
      by Aimo
    </span>
  </h3>
 <div class="text-center">
  <button class="contact-btn">
    Contact Us <span class="arrow">→</span>
  </button>
</div>

</section>



</div>
